@font-face {
    font-family: "F1 Torque";
    src: url(Formula1-Bold.otf);
}
@font-face {
    font-family: "Formula1 Display-Regular";
    src: url(Formula1-Regular.otf);
}
h1{
    font-family: "F1 Torque";
    font-size: 25px;
    display: block;
    text-align: center;
    float: left;
    color: #f2f2f2;
    margin: 10px;
}
.ulu {
    overflow: hidden;
    padding: 0px;
    background-color: #E10600;
    border-radius: 10px;
}
label{
    color: #f2f2f2;
    display: block;
    text-align: center;
    font-weight: bolder;
    font-family: 'F1 Torque';
    font-size: 20px;
    margin-right: 20px;
    float: left;
}
.menu{
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}
ul {
    padding: 10px;
    text-align: center;
    list-style: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
thead{
    display: none;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 3px solid #ddd;
    font-family: "Formula1 Display-Regular";
    font-size: 13px;
}
th {
    background-color: #E10600;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
@media (max-width: 991px) {
    h1 {
        text-align: center;
        background-color: #E10600;
        color: white;
        border-radius: 6px;
    }
    th{
        display: none;
    }
    tr {
        display: block;
        margin-bottom: 40px;
    }
    th {
        display: block;
        text-align: right;
        background-color: #f2f2f2;
        font-size: 8px;
    }
    th:before {
        content: attr(data-label);
        float: left;
        font-family: "F1 Torque";
        font-size: 25px;
    }
    th:nth-child(even) {
        background-color: white;
    }
}
